<!doctype html>
<html lang="en">

<head>
	<!-- CSS -->
	<link rel="stylesheet" href="/stylesheet/mystyle.css">

	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/javascripts/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

	<!-- awesome -->
	<script src="https://kit.fontawesome.com/f646b18479.js" crossorigin="anonymous"></script>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--Google Singin-->
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id"
		content="859864493982-ec1d0figs21rvp9raajfv2pk60ko5o52.apps.googleusercontent.com">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

	<title>Home Page - STD</title>
	<link rel="shortcut icon" href="/images/logotdtu.png" />
</head>

<body style="background-color: #F0F2F5">
	<div class="container-fluid">
		<div class="row">
			<% if(locals.user) { %>
				<div class="header-block">
					<nav class="header-block_navbar">
						<ul class="navbar-block-item navbar-block-item_1">
							<li class="nav-item"><i class="fas fa-bars"></i></li>
							<li class="nav-item">
								<a href="/">
									<img src="/images/logotdtu.png" alt="logo homepage" height="40px" width="auto">
								</a>
							</li>
						</ul>

						<ul class="navbar-block-item navbar-block-item_2">
							<li class="nav-item"></li>
						</ul>

						<ul class="navbar-block-item navbar-block-item_3">
							<li class="nav-item navbar-block-item_3__item">
								<a href="/user/<%= user._id.toString() %>">
									<img src="<%= user.avatar_img %>" class="avatar-image" height="40px" width="40px">
							</li>
							</a>
							<li class="nav-item navbar-block-item_3__item" id="add_item_nav"><i class="fas fa-plus"></i>
							</li>
							<% if(user.role === "Department" ||user.role === "Admin") { %>
								<a href="notify/create" class="bell_create_notify">
									<li class="nav-item navbar-block-item_3__item">
										<i class="fas fa-bell"></i>
									</li>
								</a>
							<% }%>
							<li class="nav-item navbar-block-item_3__item" id="logout-droplist_item">
								<i class="fas fa-caret-down"></i>
							</li>
							<div class="nav-item-loguot-option dropdown">
								<ul class="nav-item-loguot-option__list-option">
									<li class="nav-item-loguot-option__list-option-item">
										<div class="header-content">
											<a href="/user/<%= user._id.toString() %>" class="header-content">
												<img src="<%= user.avatar_img %>" class="avatar-image" height="40px"
													width="40px">

												<div class="info-post">
													<div class="user-name text">
														<%= user.display_name %>
													</div>
												</div>
											</a>
										</div>
									</li>
									
									<%if(user.role === "Admin"){%>
										<li class="nav-item-loguot-option__list-option-item">
											<a href="/admin" class="link_signOut">
												<i class="fas fa-lock-open logout_icon"></i>
												<p class="logout_text">Tới trang admin</p>
											</a>
										</li>
									<%}%>

									<%if(user.role === "Department"){%>
										<li class="nav-item-loguot-option__list-option-item">
											<a href="/notify/manager/<%= user.display_name %>" class="link_signOut">
												<i class="fas fa-envelope-open-text logout_icon"></i>
												<p class="logout_text">Quản lý thông báo</p>
											</a>
										</li>
									<%}%>

									<%if(user.role === "Admin"){%>
										<li class="nav-item-loguot-option__list-option-item">
											<a href="/admin/notify/manager" class="link_signOut">
												<i class="fas fa-envelope-open-text logout_icon"></i>
												<p class="logout_text">Quản lý thông báo</p>
											</a>
										</li>
									<%}%>
									
									<li class="nav-item-loguot-option__list-option-item">
										<a href="/logout" class="link_signOut">
											<i class="fas fa-sign-out-alt logout_icon"></i>
											<p class="logout_text">Đăng xuất</p>
										</a>
									</li>
								</ul>
							</div>
						</ul>
					</nav>
				</div>
				<% } %>
		</div>
	</div>

	<div class="container-fluid" style="margin-top:55px">
		<div class="row">
			<div
				class="side-bar-block side-bar-bock-override slide-bar-block-left col-lg-3 col-md-4 col-sm-0 position-fixed">
				<div class="side-bar-notify-block shadow-sm">
					<ul class="side-bar-list-notify-item">
						<li class="side-bar-notify-item">
							<a href="/notify" target="blank" class="side-bar-notify-item link-notify-side-bar">
								<i class="side-bar-notify-item-icon fas fa-home"></i>
								<p class="side-bar-notify-item-name">Trang chủ thông báo</p>
							</a>
						</li>

						<li class="side-bar-notify-item" id="notify-classificate">
							<i class="side-bar-notify-item-icon fas fa-list"></i>
							<p class="side-bar-notify-item-name">Phân loại thông báo</p>
						</li>

						<li class="side-bar-notify-item side-bar-notify-second-item">
							<a href="/notify/department" target="blank" class="side-bar-notify-item link-notify-side-bar">
								<i class="side-bar-notify-item-icon fas fa-users"></i>
								<p class="side-bar-notify-item-name">Phòng ban</p>
							</a>
						</li>

						<li class="side-bar-notify-item side-bar-notify-second-item">
							<a href="/notify/topic" target="blank" class="side-bar-notify-item link-notify-side-bar">
								<i class="side-bar-notify-item-icon far fa-images"></i>
								<p class="side-bar-notify-item-name">Chủ đề</p>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-6 col-md-8 col-sm-12 offset-lg-3 offset-md-4 offset-sm-0">
				<%-body%>
			</div>

			<div
				class="side-bar-block side-bar-bock-override slide-bar-block-right col-lg-3 col-md-0 col-sm-0 position-fixed offset-lg-9 offset-md-12">
				<div class="card" style="width: 100%; margin-top: 15px;">
					<div class="card-body">
						<h5 class="card-title">Thông báo mới</h5>
						<ul class="list-notify">
							<% let i = 0 %>
                			<% for (var notify of list_notify_side) { %>
								<%if (i%2==0) {%>
									<a href="notify/detail/<%= notify._id %>" class="link_notify">
										<li class="notify-item color-even" style="background-color: lavenderblush;">
											<div class="title-notify"><%= notify.title.toUpperCase() %></div>
											<div class="department">[<%= notify.department %>]</div>
										</li>
									</a>
								<%} else {%>
									<a href="notify/detail/<%= notify._id %>" class="link_notify">
										<li class="notify-item color-odd" style="background-color: palegoldenrod;">
											<div class="title-notify"><%= notify.title.toUpperCase() %></div>
                                			<div class="department">[<%= notify.department %>]</div>
										</li>
									</a>
								<%}%>
								<% i++ %>
							<% } %>

						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
	<!-- POST MODAL -->
	<% if (locals.user) { %>
		<div class="post_modal" id="post-modal-id">
			<div class="modal_overlay"></div>
			<div class="modal_body">
				<div class="modal_body_inner">
					<div class="modal_header">
						<h3>Tạo bài viết</h3>
						<div class="close_modal">
							<i class="far fa-times-circle"></i>
						</div>
					</div>
					<div class="modal_infor">
						<div class="header-content">
							<img src="<%= user.avatar_img %>" class="avatar-image" id="modal_user_avatar_img"
								height="40px" width="40px">
							<div class="info-post">
								<div class="user-name" id="modal_display_name">
									<%= user.display_name %>
								</div>
							</div>
						</div>
					</div>
					<div class="modal_main_content">
						<textarea class="form-control text_content_post_modal" id="exampleFormControlTextarea1"
							rows="3"></textarea>
					</div>
					<div class="modal_add_media">
						<div class="modal_add_media_text">
							<span>Thêm vào bài viết</span>
						</div>
						<div class="modal_icon_media">
							<div class="upload_image_modal">
								<i class="far fa-images"></i>
							</div>
							<div class="link_youtube_modal">
								<i class="fab fa-youtube"></i>
							</div>
						</div>
					</div>

					<div class="input-group" id="get_img">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-default">Image</span>
						</div>
						<input type="file" name="image_src" class="form-control" aria-label="Default"
							aria-describedby="inputGroup-sizing-default" id="src_img">
					</div>

					<div class="input-group" id="get_link_youtube">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-default">link video</span>
						</div>
						<input type="text" name="video_id" class="form-control" aria-label="Default"
							aria-describedby="inputGroup-sizing-default" id="src_video_youtube">
					</div>

					<div class="btn-post btn btn-primary" data-mode="create" data-post_id=""
						data-author_id="<%= user._id %>">Đăng bài</div>
				</div>
			</div>
		</div>
	<% } %>
	<input type="hidden" id="check_InforLoad_Page" data-page="homePage">
	<div id="snackbar">Some text some message..</div>
	<script>
		window.onload = () => {
			console.log('Mo ket noi toi server');
			const socket = io();
			socket.on('connect', () => console.log('Đã kết nối thành công'));
			socket.on('disconnect', () => console.log('Đã ngắt kết nối'));
			socket.on('broadcast', show_notify);
			function show_notify(notify) {
				console.log(notify);
				$('#snackbar').text(notify);
				var x = document.getElementById("snackbar");
				x.className = "show";
				setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
			}
		}
	</script>
</body>

</html>